<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>

<body>
    <h1>Bem vindo à <%= title %></h1>
    <a href="/">Página inicial</a>
    <a href="/pagina2">Página 2</a>
    <a href="/pagina3">Página 3</a>
</body>
</html>