<html>
    <head>
        <title>
            Calculadora
        </title>
    </head>

<body>
    <h1>Calculadora</h1>
    <form action="/calcular" method="get"></form>
    <label>Digite um número: </label>
    <input type="text"  name="Calculadora">
    <input type="submit">

    <label>Digite outro número: </label>
    <input type="text"  name="Calculadora">
    <input type="submit">
</body>
</html>